# Core Web Server
gunicorn
gevent
gevent-websocket

# Flask & SocketIO
Flask
Flask-SocketIO
python-socketio
python-engineio
Werkzeug

# Database & Tasks
SQLAlchemy
Flask-SQLAlchemy
APScheduler

# External Services
firebase-admin
google-cloud-storage
stripe
Flask-Mail
requests

# Data & Utils
numpy
pandas
pillow
python-dotenv
scikit-learn
scipy