<nav class="navbar navbar-expand-lg navbar-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand" href="/">FARMERMAN SYSTEMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="/">{{ _('Home') }}</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">{{ _('Company') }}</a>
                    <ul class="dropdown-menu shadow-sm border-0 mt-2">
                        <li><a class="dropdown-item" href="/about">{{ _('About Us') }}</a></li>
                        <li><a class="dropdown-item" href="/contact">{{ _('Contact Us') }}</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ms-lg-3">
                    <a class="nav-link dropdown-toggle fw-bold text-white border border-light rounded-pill px-3" href="#" id="langPicker" data-bs-toggle="dropdown">
                        <i class="bi bi-translate me-1"></i> Language
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow border-0 mt-2">
                        <li><a class="dropdown-item" href="/set-language/en">🇬🇧 English</a></li>
                        <li><a class="dropdown-item" href="/set-language/sw">🇰🇪 Kiswahili</a></li>
                        <li><a class="dropdown-item" href="/set-language/lg">🇺🇬 Luganda</a></li>
                        <li><a class="dropdown-item" href="/set-language/sn">🇿🇼 chiShona</a></li>
                        <li><a class="dropdown-item" href="/set-language/zu">🇿🇦 isiZulu</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>